body{
    background:black;

}

img{
    width: 250px;
    height: 250px;
}

.welcome{
    position: relative;
    display: inline-block;
    left: 500px;
}

.welcome p{
    color: #1E90FF;
    font-size: 20px;
    font-family: poppins;
    font-weight: bold;
    position: relative;
    right: 150px;
    bottom: 50px;
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
}
.carousel-caption {
    bottom: 220px;
}
.carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    font-family: merienda;
}
.carousel-caption p {
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
    font-family: poppins;
}
.carousel-caption a {
    text-transform: uppercase;
    background: #262626;
    padding: 10px 30px;
    display: inline-block;
    color: #fff;
    margin-top: 15px;
}


.w-100 {
    height: 100vh;
}
.nav-item{
    font-size: large;

}
.fotolegenda {
    margin-top:  15px;
    margin-bottom: 20xp;
    color: white;

}
